*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: var(--viewport-min);
  -webkit-text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: var(--space-0);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  padding: var(--space-0);
  border: var(--border-width-none);
  background: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
